/* Global */
:root {
    
    --primary-color: rgba(213, 213, 213, .1); /* #D5D5D5 Paper */ 
    --overlay-color: rgba(144, 153, 162, 0.8); /* #9099A2 Overcast */
    --dark-color: rgba(109, 121, 147, 1); /* #6D7993 Lavender */ 
    --shadow-color: rgba(150, 133, 143, 1);  /* #96858F Dusty */
    --menu-speed: 0.75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--primary-color);
    color: var(--dark-color);
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, p {
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: var(--dark-color);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    margin: .5em 0;
    border-radius: 4%;
}

.btn:hover {
    background: var(--shadow-color);
    color: #fff;
}

/* Showcase */

.showcase {
    min-height: 450px;
    color: #fff;

}

.showcase .bg-image {
    position: absolute;
    background: url('img/showcase.jpg');
    background-color: var(--overlay-color);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 1;
}

.showcase h1
 {
    padding-top: 70px;
    padding-bottom: 10px;
}

.showcase p {
    padding-top: 150px;
}

.showcase .content-wrap,
.section-a .content-wrap {
    padding: 0 1.5em;
}

/* Section A */
#section-a {
    background: var(--primary-color);
    color: #333;

    /* padding-bottom: 2em; */
}

/* Section B */

/*
#section-b {
    padding: 2em 1em 1em;
}
*/

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin: 0;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section C */
#section-c {
    background-color: var(--shadow-color);
    padding: 2em;
}

#section-c a {
    color: #fff;
}

#section-c a:hover {
    font-weight: bold;
}


/* Footer */
.footer {
    background-color: var(--shadow-color);
    color: #fff;
}